  <h1 id='about'>About</a></h1>
  <p>The New York City Maritime Calendar is an aggregated calendar of public events for and about life on the waters of New York City. We are an all-volunteer effort and encourage anyone to import, create, and edit events.</p>
  <p>Technical administration is handled by Zach Rose, local enthusiast.</p>
  <h1>Getting started</h1>
  <h2 id='find_local_events'>Find local events</a></h2>
  <h3>Browse</h3>
  <ul>
    <li><%= link_to "Browse an overview", root_path %> of events for the next two weeks.</li>
    <li><%= link_to "Browse events", events_path %> in the future and past, and filter by date.</li>
    <li><%= link_to "Browse venues", venues_path %> and view future events occurring at each venue.</li>
  </ul>
  <h3>Subscribe or export</h3>
  <ul>
    <li><strong>Subscribe</strong> to a list of events with your <%= link_to "favorite calendar client", url_for(:controller => "events", :action => "index", :protocol => "webcal", :only_path => false)+".ics" %> or <%= link_to "feed reader", events_url(:format => "atom") %>.</li>
    <li><strong><a href="https://github.com/calagator/calagator/wiki/Exporting-Events" title="Exporting Events wiki">Export</a></strong> a single event to your favorite calendar.</li>
  </ul>
  <h2 id='share_local_events'>Share local events</a></h2>
  <ul>
    <li><%= link_to "Add", new_event_path %> an event by entering its details.</li>
    <li><%= link_to "Import", new_source_path %> event(s) by entering a URL to a feed or webpage, or via a bookmarklet.</li>
    <li><strong>Improve</strong> content by editing events and venues.</li>
  </ul>

  <h1 id='get_involved'>Get involved</a></h1>
  <h3>Join the mailing list</h3>
  <ul>
    <li>We're on <a href="https://groups.google.com/g/nyc-maritime-calendar">Google Groups</a>.</li>
  </ul>

  <h3>Help garden the site</h3>
  <ul>
    <li>Add details to existing events and venues.</li>
    <li>Correct missing venues and incomplete venue addresses.</li>
  </ul>

  <h3>Technical</h3>
  <p>The open source software running this site is called <a href="https://calagator.org/about">Calagator</a>. It was originally developed for the tech community of Portland, Oregon. You can read more about that project on its <a href="https://calagator.wordpress.com">blog</a>. You can support the development of Calagator on its <a href="https://www.patreon.com/calagator">Patreon page</a>.
  <p>The source code for our friendly fork of Calagator is available <a href="https://github.com/windmountain/calagator/tree/maritime2">here on Github</a>. If you encounter any bugs or have feedback about the New York City Maritime Calendar, we appreciate hearing about it. Please email <a href="mailto:help@maritime.nyc">help@maritime.nyc</a>.

</div>
