      <div id="global_header">

        <button class="menu" data-expandable="top_menu" aria-label="Menu">
          <%= inline_svg_tag "menu.svg" %>
        </button>
        <a href="/" id="project_title">
          <abbr>NYC</abbr>
          <span>Maritime</span>
          <span>Calendar</span>
        </a>
        <button class="search" data-expandable="search" aria-label="Search">
          <%= inline_svg_tag "search.svg" %>
        </button>
        <div id="top_menu" aria-hidden="true">
          <div id='app_menu'>
            <ul>
                <li class='<%=link_class[:events]%>'><%= link_to "Events", events_path %></li>
                <li class='<%=link_class[:venues]%>'><%= link_to "Venues", venues_path %></li>
            </ul>
          </div>
          <%= render partial: 'layouts/calagator/global_search' %>
        </div>
      </div>

      <% # Pick a subnav %>

      <%= render(:partial => 'calagator/events/subnav') if link_class[:events] == 'active' %>
      <%= render(:partial => 'calagator/venues/subnav') if link_class[:venues] == 'active' %>
      <%= render(:partial => 'calagator/sources/subnav') if link_class[:import] == 'active' %>

